
.cp1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info {
    padding-left: 20px
}
.image {
    
    width: 200px;
    height: 200px;
  }
.text {
    margin-left: 0px;
    font-size: 20px;
    font-weight: 600;
    
}
.details {
    font-size: 20px;
    font-weight: 500; 
}
.price {
    font-size: 20px;
    font-weight: 500;
}
.generc {
    font-size: 20px;
    font-weight: 500;
    
  
}
