.homeoption {
  
  height:10px;
  margin:0px;
 margin-top:0px;
  
}



.otherimg{
 
  margin-left:800px;
 margin-top:100px;
 -ms-flex-align: center;
 margin-bottom: 600px;
  
}
.sideimg {
  margin-bottom: 50%;

  width: 300px;
  height: 300px;
  margin-left: 10px;
  -ms-flex-align:start;
  
  ;}


.text1 {
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-indent: 10px;
  
  color:black;
  margin-left: 250px;
  
}
.text1:hover{
  cursor: pointer;
  text-decoration-line:underline;}
.home {
  justify-content:flex-start;
  background-image: url("./images/100.jpg");
  
    background-size: cover;
    height: 800px; 
    margin-bottom: 500px;
}
  
.appoint{
  margin-top: 90px;
  margin-left: 80px;
}

.book{ 
  margin-left: 1000px;
  margin-top: 10px;
  border-radius: 20px;
}

.new{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 90px;
font-weight: 500;
color: #041a31;
margin-left: 400px;
  }
 

.home{
margin-left: auto;
  margin-right: auto;
}
  .homerow{
margin-left: 0px;
text-indent: 20px;
    display:flex;

    
  }
  .book>button{ display: inline-block;
    background-color: #e4c305;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px; /* add this line */
    cursor:pointer;}